/* body的样式 */
body {
  background: #dfdfdf;
  margin: 0;
}
/* 外层容器样式 */
.logs {
  width: 800px;
  background-color: #eae2b7;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
/* 单项的样式 */
.item {
  display: flex;
  background-color: #fcbf49;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  margin: 16px 0;
}
/* 日期样式 */
.date {
  width: 80px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
/* 月份效果 */
.month {
  height: 30px;
  line-height: 30px;
  background-color: #d62828;
  color: #fff;
}
.day {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
.content {
  flex: auto;
  text-align: center;
}
